.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
}

.calendar__time {
  color: #9273df;
  opacity: 50%;
  text-align: center;
}

.calendar__main__header {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar__main__buttons--left {
  align-items: center;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.calendar__main__buttons--right {
  align-items: center;
  width: 25px;
  height: 25px;
}

.calendar__table {
  width: 600px;
  height: 400px;
}

.calendar__table__title {
  text-align: center;
}

td {
  width: 75px;
  height: 75px;
  padding-top: 20px;
  transition: 0.3s ease-in-out;
}

td:hover {
  background-color: gold;
  opacity: 50%;
  border-radius: 30%;
}

.other-month {
  text-align: center;
  color: gainsboro;
}

.other-month:hover {
  background-color: yellow;
  opacity: 20%;
  color: black;
  border-radius: 30%;
}

.calendar-day--today {
  background-color: rgb(133, 58, 238);
  color: black;
  border-radius: 30%;
  opacity: 40%;
}

.has-events {
  background-color: #e9c441;
  border-radius: 30%;
  opacity: 30%;
}

.calendar__event {
  color: #dd98b0;
  opacity: 80%;
}

.calendar__event__time {
  color: #e9c441;
  opacity: 70%;
}
